numpy
pandas
scipy
scikit-learn
requests
transformers
timm
fairscale
opencv-python
decord
tiktoken
blobfile
protobuf
deepspeed # optional for distributed inference
git+https://github.com/salaniz/pycocoevalcap